apiVersion: v1
kind: Secret
metadata:
    name: mysql-secret
type: Opaque
data:
    mysql_root_password: SjEyMzQ1ag==
    # value: J12345j
    mysql_admin_password: RGV2ZW5lc18x
    # value: Devenes_1
